body {
    /* Typography Declarations */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}

.masthead-heading {
    margin-top: -0.2em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.introduction > p,
.location > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section > h2 {
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
}

.masthead-heading,
.masthead-intro,
.content-footer {
  text-align: center
}

.masthead {
  padding: 6em 0;
}

.masthead-intro {
  margin-bottom: 0.1em;
}

.masthead-heading {
  margin-top: -0.2em;
}

.masthead {
  background-image: url('https://ununsplash.imgix.net/photo-1416862291207-4ca732144d83?q=75&w=1080&h=1080&fit=max&fm=jpg&s=d053cd2f91e7c9f8e96f64fa1a16909b');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: solid 1em #FFCF33;
}

.content-footer,
.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.social > li {
    display: inline-block;
}

@media only screen and (max-width: 500px) {
    .masthead-heading {
        font-size: 3em;
    }
}

@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
  
@media only screen and (max-width: 500px) {
    .content-footer {
        font-size: 3em;
    }
  
@media only screen and (max-width: 500px) {
    .content-footer {
        padding: 3em 0;
    }